/* @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
  background-color: #f8fafc;
  color: #0f172a;
}



@media print {
  body {
    background: white;
  }

  body * {
    visibility: hidden;
  }

  #print-area,
  #print-area * {
    visibility: visible;
  }

  #print-area {
    width: 100%;
    margin: 0 auto;
    box-shadow: none !important;
    border: none !important;
  }
}


@page {
  size: A4;
  margin: 12mm;
}
 */



 @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* GLOBAL BODY */
body {
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;

  background-color: #f8fafc;
  color: #0f172a;
}

/* PRINT */
@media print {
  body {
    background: white;
  }

  body * {
    visibility: hidden;
  }

  #print-area,
  #print-area * {
    visibility: visible;
  }

  #print-area {
    width: 100%;
    margin: 0 auto;
    box-shadow: none !important;
    border: none !important;
    border-radius: 0 !important;
    background: white !important;
  }
}

/* A4 SIZE */
@page {
  size: A4;
  margin: 12mm;
}


@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}


@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}



/* THERMAL PRINT */
@media print {
  body * {
    visibility: hidden;
  }

  #thermal-print,
  #thermal-print * {
    visibility: visible;
  }

  #thermal-print {
    position: absolute;
    left: 0;
    top: 10px;
    width: 80mm;
    padding: 10px;
    background: white;
  }
}