/* @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
  background-color: #f8fafc;
  color: #0f172a;
}



@media print {
  body {
    background: white;
  }

  body * {
    visibility: hidden;
  }

  #print-area,
  #print-area * {
    visibility: visible;
  }

  #print-area {
    width: 100%;
    margin: 0 auto;
    box-shadow: none !important;
    border: none !important;
  }
}


@page {
  size: A4;
  margin: 12mm;
}
 */



 @import "tailwindcss";

:root {
  --background: #FFF7ED;
  --foreground: #1F2937;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-hanken), sans-serif;
  --font-mono: var(--font-jetbrains), monospace;
  
  /* Brand Colors */
  --color-brand-primary: #1F2937;
  --color-brand-secondary: #F97316;
  --color-brand-tertiary: #22C55E;
  --color-brand-neutral: #FFF7ED;
}


/* GLOBAL BODY */
body {
  font-family: var(--font-hanken), sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

/* PRINT */
@media print {
  body {
    background: white;
  }

  body * {
    visibility: hidden;
  }

  #print-area,
  #print-area * {
    visibility: visible;
  }

  #print-area {
    width: 100%;
    margin: 0 auto;
    box-shadow: none !important;
    border: none !important;
    border-radius: 0 !important;
    background: white !important;
  }
}

/* A4 SIZE */
@page {
  size: A4;
  margin: 12mm;
}


@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}


@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}



/* THERMAL PRINT */
@media print {
  body * {
    visibility: hidden;
  }

  #thermal-print,
  #thermal-print * {
    visibility: visible;
  }

  #thermal-print {
    position: absolute;
    left: 0;
    top: 10px;
    width: 80mm;
    padding: 10px;
    background: white;
  }
}

/* ============================================
   GLOBAL: Remove number input spinner arrows
   (works in Chrome, Safari, Firefox, Edge)
   ============================================ */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}